<!DOCTYPE html>
<html lang="ko" th:replace="~{fragments/base :: layout(title='boardholes 로그인', content=~{::article}, contextMenu=~{})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>boardholes 로그인</title>
</head>
<body>
<article>
    <header>
        <hgroup>
            <h1>로그인</h1>
            <p>boardholes 계정으로 커뮤니티에 참여하세요.</p>
        </hgroup>
    </header>

    <form method="post" novalidate th:action="@{/auth/login}">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">

        <fieldset>
            <label for="username">
                사용자이름
                <input autocomplete="username" id="username" inputmode="email" name="username"
                       placeholder="name@example.com" required type="text">
            </label>

            <label for="password">
                비밀번호
                <input autocomplete="current-password" id="password" name="password" placeholder="비밀번호"
                       required type="password">
            </label>
        </fieldset>

        <button class="primary" type="submit">로그인</button>

        <p class="pico-color-red-700"
           role="alert"
           th:if="${param.error}">
            잘못된 사용자명 또는 비밀번호입니다.
        </p>
    </form>

    <footer>
        <small>계정이 없으신가요? <a th:href="@{/auth/signup}">회원가입</a></small>
    </footer>
</article>
</body>
</html>
