<!DOCTYPE html>
<html lang="ko" th:replace="~{fragments/base :: layout(title='로그아웃 완료', content=~{::article}, contextMenu=~{})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그아웃 완료</title>
</head>
<body>
<article>
    <header>
        <hgroup>
            <h1>로그아웃 완료</h1>
            <p>다시 방문하실 때까지 기다릴게요.</p>
        </hgroup>
    </header>

    <p class="pico-color-cyan-700" role="status">정상적으로 로그아웃되었습니다.</p>

    <footer>
        <a class="primary" role="button" th:href="@{/auth/login}">다시 로그인하기</a>
        <a class="secondary" role="button" th:href="@{/}">홈으로 이동</a>
    </footer>
</article>
</body>
</html>
