<!DOCTYPE html>
<html lang="ko" th:replace="~{fragments/base :: layout(~{::title}, ~{::main})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>글 수정 - Board Hole</title>
</head>

<main>
    <hgroup>
        <h1>✏️ 글 수정</h1>
        <p>내용을 수정하세요</p>
    </hgroup>

    <article>
        <form id="boardForm" method="post" th:action="@{/boards/{id}/edit(id=${id})}" th:object="${board}" novalidate>
            <label for="title">
                제목
                <input aria-required="true"
                       id="title"
                       maxlength="255"
                       placeholder="제목을 입력하세요"
                       required
                       th:attr="aria-invalid=${#fields.hasErrors('title')} ? 'true' : (${#fields.hasAnyErrors()} ? 'false' : null),aria-describedby=${#fields.hasErrors('title')} ? 'title-help' : null"
                       th:field="*{title}"
                       type="text">
                <small id="title-help" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">제목 오류 메시지</small>
            </label>

            <label for="content">
                내용
                <textarea aria-describedby="markdown-help"
                          aria-required="true"
                          id="content"
                          placeholder="내용을 입력하세요"
                          required
                          rows="15"
                          th:attr="aria-invalid=${#fields.hasErrors('content')} ? 'true' : (${#fields.hasAnyErrors()} ? 'false' : null),aria-describedby=${#fields.hasErrors('content')} ? 'content-help markdown-help' : 'markdown-help'"
                          th:field="*{content}"></textarea>
                <small id="content-help" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">내용 오류
                    메시지</small>
            </label>

            <button type="submit">수정 완료</button>
        </form>
    </article>
</main>
</html>
