<nav class="container-fluid" th:fragment="header">
    <ul>
        <li>
            <button aria-label="메뉴 열기" class="secondary outline" command="show-modal"
                    commandfor="side-navigation" id="menu-toggle"
                    type="button">
                ☰
            </button>
        </li>
        <li><strong><a th:href="@{/}">Board Hole</a></strong></li>
    </ul>
    <ul>
        <li sec:authorize="!isAuthenticated()">
            <a class="secondary outline" role="button" th:href="@{/auth/login}">로그인</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
            <a class="primary" role="button" th:href="@{/auth/signup}">회원가입</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <form class="logout-form" method="post" th:action="@{/auth/logout}">
                <button class="secondary outline" type="submit">로그아웃</button>
            </form>
        </li>
    </ul>
</nav>
